*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(158, 148, 167);
    font-family: monospace;
}

header h1{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 3rem;
    font-size: 1.9rem;
    text-align: center;
}

header{
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    flex-direction:column;
    text-align: center;
    list-style-type: none;
    align-items: center;

}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li{
    background-color: rgb(206, 205, 206);
    border-style: groove;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 1.2rem;
    width: 20rem;
    margin-bottom: 0.25rem;
}

.sizePic{
    width: 100%;
    border-radius: 0.8rem;
}

.img0{
    width: 100%;
    border-radius: 2rem;
    padding:  1rem;
}

.img1{
    grid-area: img1;
    padding:0.5rem 1rem 2rem 1rem;
}

.img2{
    grid-area: img2;
    padding:0.5rem 1rem 2rem 1rem;
}

.img3{
    grid-area: img3;
    padding:0.5rem 1rem 2rem 1rem;
}

.img4{
    grid-area: img4;
    padding:0.5rem 1rem 2rem 1rem;
}

.img5{
    grid-area: img5;
    padding:0.5rem 1rem 2rem 1rem;
}

.img6{
    grid-area: img6;
    padding:0.5rem 1rem 2rem 1rem;
}

.img7{
    grid-area: img7;
    padding:0.5rem 1rem 2rem 1rem;
}

.img8{
    grid-area: img8;
    padding:0.5rem 1rem 2rem 1rem;
}

.img9{
    grid-area: img9;
    padding:0.5rem 1rem 2rem 1rem;
}

.img10{
    grid-area: img10;
    padding:0.5rem 1rem 2rem 1rem;
}

.mainSize{
    font-size: 1.2rem;
}

.text1{
    grid-area: text1;
}

.text2{
    grid-area: text2;
}

.text3{
    grid-area: text3;
}

.text4{
    grid-area: text4;
}

.text5{
    grid-area: text5;
}

.text6{
    grid-area: text6;
}

.text7{
    grid-area: text7;
}

.text8{
    grid-area: text8;
}

.text9{
    grid-area: text9;
}

.text10{
    grid-area: text10;
}


footer{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1rem;
}

section p{
    font-size: 1rem;
}

.mainInd{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:"sub1 sub2"
                        "imgInd imgInd"
                        "parrafo parrafo";
    justify-content: center;
}


.mainTrat{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:"text1 text2"
                        "img1 img2"
                        "text3 text4"
                        "img3 img4"
                        "text5 text6"
                        "img5 img6"
                        "text7 text8"
                        "img7 img8"
                        "text9 text10"
                        "img9 img10";
    justify-content:center;
}


.sub1{
    grid-area: sub1;
}

.sub2{
    grid-area: sub2;
}

.imgInd{
    grid-area: imgInd;
}

.parrafo{
    grid-area: parrafo;
}

@media screen and (min-width:600px) {
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li{
        padding: rem;
        font-size: 1rem;
        width: 7rem;
        margin-right: 0.1rem;
        justify-content: space-between;
    }

    header h1{
        text-align: center;
    }

    .centrar1{
        padding-top: 1rem;
        padding-bottom: 1.4rem;
    }

    .centrar2{
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;
    }
}

@media screen and (min-width:1024px) {
    nav ul li{
        padding: 0.1rem;
        font-size: 0.9rem;
        width: 12rem;
        height: 2.5rem;
        margin-bottom: 0.25rem;
    }

    .centrar1{
        padding-top: 0.5rem;
        padding-bottom: 1.4rem;
    }

    .mainTrat{
        grid-template-areas:"text1 text2 text3"
                            "img1 img2 img3"
                            "text4 text5 ext6"  
                            "img4 img5 img6"
                            "text7 text8 text9"
                            "img7 img8 img9"
                            " text10 text10 text10"
                            "img10 img10 img10";
        justify-content:center;   
    }

    .img10{
        width: 33%;;
    }

    .mainInd{
        grid-template-areas:"sub1 sub2"
                            "imgInd parrafo";
    }

    .parrafo{
        margin: 4rem 3rem 1rem 8rem;
    }

    .img0{
        margin:0rem 1rem 1rem 8rem;
        width: 90%;
        padding-top: 0rem;
    }

    h2{
        margin-left:10rem;
        margin-bottom: 0.2rem;
    }

    h3{
        margin-top: 2rem;
        margin-left: 5rem;
    }
}